.header {
    z-index: 1000;
    display: flex;
    flex-direction: row;
    width: 80vw;
    border-radius: 0 0 8px 8px;
    padding: 0 1rem;
}

.icon {
    fill: #ECDFCC;
    font-size: 2rem;
    margin-right: 1rem;
}

.title {
    max-lines: 1;
    white-space: nowrap;
    width: min-content;
}

.menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;
}

.button, .selectedButton {
    background-color: transparent;
    color: #ECDFCC;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 1rem;
}

.selectedButton {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 2px;
}

.button:hover {
    background-color: #697565;
    color: #ECDFCC;
}